{% extends "dinner/base_with_header.html" %}

{% block body %}
    <form method="get">
        {{ formset.management_form }}
        {% for form in formset %}
            <div class="row">
                <div class="col s12 m4">
                    <div class="card horizontal">
                        <div class="card-image">
                            <img src="https://lorempixel.com/100/190/nature/6">
                        </div>
                        <div class="card-stacked">
                            <div class="card-content">
                                <h3>{{ form.dinner_name.value }}</h3>
                                <p>List of ingredients</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </form>
{% endblock body %}